In [1]:
# Dependencies
import pandas as pd

In [2]:
# Converting clean Netflix csv to df
netflix_df = pd.read_csv("OutputData/NetflixDB.csv")
netflix_df

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type
0,tt0381707,White Chicks,2004,PG-13,23 Jun 2004,109 min,"Comedy, Crime",Keenen Ivory Wayans,"Keenen Ivory Wayans, Shawn Wayans, Marlon Wayans","Marlon Wayans, Shawn Wayans, Busy Philipps",English,United States,5.6,15%,41/100,movie
1,tt0425210,Lucky Number Slevin,2006,R,07 Apr 2006,110 min,"Crime, Drama, Thriller",Paul McGuigan,Jason Smilovic,"Josh Hartnett, Ben Kingsley, Morgan Freeman",English,"United States, Germany, United Kingdom, Canada",7.7,NaN,53/100,movie
2,tt0413573,Grey's Anatomy,2005–,TV-14,27 Mar 2005,41 min,"Drama, Romance",NaN,Shonda Rhimes,"Ellen Pompeo, Chandra Wilson, James Pickens Jr.",English,United States,7.5,NaN,NaN,series
3,tt0455275,Prison Break,2005–2017,TV-14,29 Aug 2005,44 min,"Action, Crime, Drama",NaN,Paul T. Scheuring,"Dominic Purcell, Wentworth Miller, Amaury Nolasco","English, Arabic, Spanish","United Kingdom, United States",8.3,NaN,NaN,series
4,tt0460649,How I Met Your Mother,2005–2014,TV-14,19 Sep 2005,22 min,"Comedy, Romance",NaN,"Carter Bays, Craig Thomas","Josh Radnor, Jason Segel, Cobie Smulders","English, Persian, Chinese",United States,8.3,NaN,NaN,series
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,tt3691740,The BFG,2016,PG,01 Jul 2016,117 min,"Adventure, Family, Fantasy",Steven Spielberg,"Melissa Mathison, Roald Dahl","Mark Rylance, Ruby Barnhill, Penelope Wilton","English, Hindi","United States, India, United Kingdom",6.4,74%,66/100,movie
910,tt2709768,The Secret Life of Pets,2016,PG,08 Jul 2016,87 min,"Animation, Adventure, Comedy","Chris Renaud, Yarrow Cheney","Cinco Paul, Ken Daurio, Brian Lynch","Louis C.K., Eric Stonestreet, Kevin Hart",English,"United States, France, Japan",6.5,72%,61/100,movie
911,tt6500946,Precious Puppies,2003,NaN,NaN,53 min,Documentary,Greg Grainger,NaN,Lizzy Lovette,English,Australia,6.1,NaN,NaN,movie
912,tt6780296,Beary Tales,2013,NaN,NaN,51 min,Documentary,"Hira Klatt, Marcella Muller, Angelika Sigl",NaN,Volker Arzt,English,United States,8.0,NaN,NaN,movie
913,tt6332994,Growing Up Wild,2016,G,08 Dec 2016,78 min,Documentary,"Mark Linfield, Keith Scholey","David Fowler, Simon Nash",Daveed Diggs,English,United States,7.2,NaN,NaN,movie

In [3]:
# Converting clean Crackle csv to df
crackle_df = pd.read_csv("OutputData/crackle.csv")
crackle_df

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type
0,tt0115082,3rd Rock from the Sun,1996–2001,TV-PG,09 Jan 1996,60 min,"Comedy, Family, Sci-Fi",NaN,"Bonnie Turner, Terry Turner","John Lithgow, Jane Curtin, Kristen Johnston",English,United States,7.7,None,None,series
1,tt0313202,An Angel for May,2002,TV-G,23 Dec 2002,95 min,"Drama, Family, Fantasy",Harley Cokeliss,"Melvin Burgess (based on the novel by), Peter ...","Tom Wilkinson, Charlotte Wakefield, Matthew Be...",English,United Kingdom,7.0,None,None,movie
2,tt0264366,And Never Let Her Go,2001,NaN,01 Apr 2001,200 min,"Crime, Drama, Mystery",Peter Levin,"Adam Greenman (teleplay), Ann Rule (book)","Mark Harmon, Rachel Ward, Kathryn Morris, Stev...",English,United States,6.4,None,None,movie
3,tt0200323,Animal Tales,1997–,NaN,NaN,NaN,NaN,NaN,NaN,"Jennifer Badger, Brian Palermo",English,United States,NaN,None,None,series
4,tt0402619,Awesome Adventures,1998–2015,NaN,NaN,30 min,Documentary,NaN,NaN,"Mystro Clark, Anthony Montgomery",English,United States,6.6,None,None,series
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,tt0419373,Supernova,2005,Not Rated,05 Sep 2005,172 min,"Action, Adventure, Drama, Sci-Fi, Thriller",John Harrison,"Steven H. Berman, Don Keith Opper","Luke Perry, Tia Carrere, Peter Fonda, Clemency...","English, French","United States, South Africa",3.7,None,None,movie
223,tt0137311,The Karate Kid,1989,TV-Y7-FV,09 Sep 1989,NaN,"Animation, Short, Action",NaN,NaN,"Joey Dedio, Robert Ito, Janice Kawaye",English,United States,4.9,None,None,series
224,tt0163953,The Net,1998–1999,NaN,19 Jul 1998,45 min,Thriller,NaN,"Rob Cowan, Deborah Pratt, Irwin Winkler","Brooke Langton, Joseph Bottoms, Eric Szmanda",English,"United States, Canada",6.2,None,None,series
225,tt0169501,Ultraviolet,1998,NaN,31 Jul 2000,300 min,"Horror, Sci-Fi, Thriller",NaN,NaN,"Jack Davenport, Susannah Harker, Idris Elba",English,United Kingdom,7.9,None,None,series
226,tt0215446,A Twist in the Tale,1999,TV-PG,06 Feb 1999,52 min,"Drama, Family, Mystery",NaN,Raymond Thompson,"William Shatner, Robin Johnson, Chelsie Presto...",English,"United States, New Zealand",7.3,None,None,series

In [4]:
# Converting clean DisneyPlus csv to df
disneyplus_df = pd.read_csv("OutputData/disneyplus.csv")
disneyplus_df

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type
0,tt0147800,10 Things I Hate About You,1999,PG-13,31 Mar 1999,97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith, William Shakesp...","Heath Ledger, Julia Stiles, Joseph Gordon-Levitt","English, French",United States,7.3,69%,70/100,movie
1,tt7019028,101 Dalmatian Street,2018–2020,TV-Y7,25 Mar 2019,22 min,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis",English,"United Kingdom, United States, Canada",6.3,NaN,NaN,series
2,tt0115433,101 Dalmatians,1996,G,27 Nov 1996,103 min,"Adventure, Comedy, Crime",Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish","United States, United Kingdom",5.7,41%,49/100,movie
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,2002,G,21 Jan 2003,74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,United States,5.8,67%,NaN,movie
4,tt0211181,102 Dalmatians,2000,G,22 Nov 2000,100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith, Kristen Buckley, Brian Regan","Glenn Close, Gérard Depardieu, Ioan Gruffudd",English,"United States, United Kingdom, France",4.9,31%,35/100,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,tt3544734,Zapped,2014,TV-G,23 Jun 2014,102 min,"Comedy, Family, Fantasy",Peter DeLuise,"Leslie Margolis (based on the novel ""Boys Are ...","Zendaya, Chanelle Peloso, Spencer Boldman, Emi...",English,"Canada, USA",5.1,NaN,NaN,movie
890,tt0186726,Zenon: Girl of the 21st Century,1999,TV-G,23 Jan 1999,97 min,"Adventure, Comedy, Family, Sci-Fi",Kenneth Johnson,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Raven-Symoné, Stuart Pankin, H...",English,United States,6.4,NaN,NaN,movie
891,tt0271271,Zenon: The Zequel,2001,TV-G,12 Jan 2001,100 min,"Comedy, Family, Adventure, Sci-Fi",Manny Coto,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Shadia Simmons, Lauren Maltby,...",English,"USA, New Zealand",5.9,NaN,NaN,movie
892,tt0379060,Zenon: Z3,2004,TV-G,11 Jun 2004,81 min,"Adventure, Comedy, Family, Sci-Fi",Steve Rash,"Marilyn Sadler (character from the book ""Zenon...","Kirsten Storms, Lauren Maltby, Alyson Morgan, ...",English,United States,5.5,NaN,NaN,movie
893,tt2948356,Zootopia,2016,PG,04 Mar 2016,108 min,"Animation, Adventure, Comedy","Byron Howard, Rich Moore, Jared Bush","Byron Howard, Rich Moore, Jared Bush","Ginnifer Goodwin, Jason Bateman, Idris Elba",English,United States,8.0,98%,78/100,movie

In [5]:
# Concat different csvs into single movies database and remove duplicates
frames = [netflix_df, crackle_df, disneyplus_df]
movies_db = pd.concat(frames).drop_duplicates(subset=["IMDB_id"], ignore_index=True)

In [6]:
# Delete columns
del movies_db["RT_rating"]
del movies_db["Metacritic_rating"]

In [7]:
# Display final movies database
movies_db

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,Type
0,tt0381707,White Chicks,2004,PG-13,23 Jun 2004,109 min,"Comedy, Crime",Keenen Ivory Wayans,"Keenen Ivory Wayans, Shawn Wayans, Marlon Wayans","Marlon Wayans, Shawn Wayans, Busy Philipps",English,United States,5.6,movie
1,tt0425210,Lucky Number Slevin,2006,R,07 Apr 2006,110 min,"Crime, Drama, Thriller",Paul McGuigan,Jason Smilovic,"Josh Hartnett, Ben Kingsley, Morgan Freeman",English,"United States, Germany, United Kingdom, Canada",7.7,movie
2,tt0413573,Grey's Anatomy,2005–,TV-14,27 Mar 2005,41 min,"Drama, Romance",NaN,Shonda Rhimes,"Ellen Pompeo, Chandra Wilson, James Pickens Jr.",English,United States,7.5,series
3,tt0455275,Prison Break,2005–2017,TV-14,29 Aug 2005,44 min,"Action, Crime, Drama",NaN,Paul T. Scheuring,"Dominic Purcell, Wentworth Miller, Amaury Nolasco","English, Arabic, Spanish","United Kingdom, United States",8.3,series
4,tt0460649,How I Met Your Mother,2005–2014,TV-14,19 Sep 2005,22 min,"Comedy, Romance",NaN,"Carter Bays, Craig Thomas","Josh Radnor, Jason Segel, Cobie Smulders","English, Persian, Chinese",United States,8.3,series
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,tt6878820,Z-O-M-B-I-E-S,2018,TV-G,16 Feb 2018,94 min,"Family, Musical, Romance",Paul Hoen,"David Light, Joseph Raso, David Light (based o...","Milo Manheim, Meg Donnelly, Trevor Tordjman, K...",English,United States,6.3,movie
1513,tt3544734,Zapped,2014,TV-G,23 Jun 2014,102 min,"Comedy, Family, Fantasy",Peter DeLuise,"Leslie Margolis (based on the novel ""Boys Are ...","Zendaya, Chanelle Peloso, Spencer Boldman, Emi...",English,"Canada, USA",5.1,movie
1514,tt0186726,Zenon: Girl of the 21st Century,1999,TV-G,23 Jan 1999,97 min,"Adventure, Comedy, Family, Sci-Fi",Kenneth Johnson,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Raven-Symoné, Stuart Pankin, H...",English,United States,6.4,movie
1515,tt0271271,Zenon: The Zequel,2001,TV-G,12 Jan 2001,100 min,"Comedy, Family, Adventure, Sci-Fi",Manny Coto,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Shadia Simmons, Lauren Maltby,...",English,"USA, New Zealand",5.9,movie
1516,tt0379060,Zenon: Z3,2004,TV-G,11 Jun 2004,81 min,"Adventure, Comedy, Family, Sci-Fi",Steve Rash,"Marilyn Sadler (character from the book ""Zenon...","Kirsten Storms, Lauren Maltby, Alyson Morgan, ...",English,United States,5.5,movie

In [8]:
# Convert movies dataframe to movies csv
movies_db.to_csv("OutputData/movies.csv", index=False)

In [9]:
# Create new platform dataframe
platform_db = pd.DataFrame({"platform_id": ["P01", "P02", "P03"], 
                            "platform_name": ["Netflix", "Disney Plus", "Crackle"]})
platform_db

  platform_id platform_name
0         P01       Netflix
1         P02   Disney Plus
2         P03       Crackle

In [10]:
# Convert platform dataframe to platform csv
platform_db.to_csv("OutputData/platform.csv", index=False)

In [11]:
######################################

In [12]:
movies_db.loc[movies_db["Title"] == "Aladdin"]

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,Type
682,tt6139732,Aladdin,2019,PG,24 May 2019,128 min,"Action, Adventure, Family",Guy Ritchie,"John August, Guy Ritchie","Will Smith, Mena Massoud, Naomi Scott","English, Arabic","United Kingdom, United States, Australia",6.9,movie
683,tt0103639,Aladdin,1992,G,25 Nov 1992,90 min,"Animation, Adventure, Comedy","Ron Clements, John Musker","Ron Clements, John Musker, Ted Elliott","Scott Weinger, Robin Williams, Linda Larkin",English,United States,8.0,movie

In [13]:
xyz = netflix_df.copy()

In [14]:
xyz["status"] = xyz.duplicated(subset=["IMDB_id"])
xyz

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type,status
0,tt0381707,White Chicks,2004,PG-13,23 Jun 2004,109 min,"Comedy, Crime",Keenen Ivory Wayans,"Keenen Ivory Wayans, Shawn Wayans, Marlon Wayans","Marlon Wayans, Shawn Wayans, Busy Philipps",English,United States,5.6,15%,41/100,movie,False
1,tt0425210,Lucky Number Slevin,2006,R,07 Apr 2006,110 min,"Crime, Drama, Thriller",Paul McGuigan,Jason Smilovic,"Josh Hartnett, Ben Kingsley, Morgan Freeman",English,"United States, Germany, United Kingdom, Canada",7.7,NaN,53/100,movie,False
2,tt0413573,Grey's Anatomy,2005–,TV-14,27 Mar 2005,41 min,"Drama, Romance",NaN,Shonda Rhimes,"Ellen Pompeo, Chandra Wilson, James Pickens Jr.",English,United States,7.5,NaN,NaN,series,False
3,tt0455275,Prison Break,2005–2017,TV-14,29 Aug 2005,44 min,"Action, Crime, Drama",NaN,Paul T. Scheuring,"Dominic Purcell, Wentworth Miller, Amaury Nolasco","English, Arabic, Spanish","United Kingdom, United States",8.3,NaN,NaN,series,False
4,tt0460649,How I Met Your Mother,2005–2014,TV-14,19 Sep 2005,22 min,"Comedy, Romance",NaN,"Carter Bays, Craig Thomas","Josh Radnor, Jason Segel, Cobie Smulders","English, Persian, Chinese",United States,8.3,NaN,NaN,series,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,tt3691740,The BFG,2016,PG,01 Jul 2016,117 min,"Adventure, Family, Fantasy",Steven Spielberg,"Melissa Mathison, Roald Dahl","Mark Rylance, Ruby Barnhill, Penelope Wilton","English, Hindi","United States, India, United Kingdom",6.4,74%,66/100,movie,True
910,tt2709768,The Secret Life of Pets,2016,PG,08 Jul 2016,87 min,"Animation, Adventure, Comedy","Chris Renaud, Yarrow Cheney","Cinco Paul, Ken Daurio, Brian Lynch","Louis C.K., Eric Stonestreet, Kevin Hart",English,"United States, France, Japan",6.5,72%,61/100,movie,True
911,tt6500946,Precious Puppies,2003,NaN,NaN,53 min,Documentary,Greg Grainger,NaN,Lizzy Lovette,English,Australia,6.1,NaN,NaN,movie,False
912,tt6780296,Beary Tales,2013,NaN,NaN,51 min,Documentary,"Hira Klatt, Marcella Muller, Angelika Sigl",NaN,Volker Arzt,English,United States,8.0,NaN,NaN,movie,False
913,tt6332994,Growing Up Wild,2016,G,08 Dec 2016,78 min,Documentary,"Mark Linfield, Keith Scholey","David Fowler, Simon Nash",Daveed Diggs,English,United States,7.2,NaN,NaN,movie,True

In [15]:
xyz.loc[xyz["status"] == True]

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type,status
39,tt0425210,Lucky Number Slevin,2006,R,07 Apr 2006,110 min,"Crime, Drama, Thriller",Paul McGuigan,Jason Smilovic,"Josh Hartnett, Ben Kingsley, Morgan Freeman",English,"United States, Germany, United Kingdom, Canada",7.7,NaN,53/100,movie,True
40,tt0413573,Grey's Anatomy,2005–,TV-14,27 Mar 2005,41 min,"Drama, Romance",NaN,Shonda Rhimes,"Ellen Pompeo, Chandra Wilson, James Pickens Jr.",English,United States,7.5,NaN,NaN,series,True
41,tt0455275,Prison Break,2005–2017,TV-14,29 Aug 2005,44 min,"Action, Crime, Drama",NaN,Paul T. Scheuring,"Dominic Purcell, Wentworth Miller, Amaury Nolasco","English, Arabic, Spanish","United Kingdom, United States",8.3,NaN,NaN,series,True
44,tt0460649,How I Met Your Mother,2005–2014,TV-14,19 Sep 2005,22 min,"Comedy, Romance",NaN,"Carter Bays, Craig Thomas","Josh Radnor, Jason Segel, Cobie Smulders","English, Persian, Chinese",United States,8.3,NaN,NaN,series,True
45,tt0460681,Supernatural,2005–2020,TV-14,13 Sep 2005,44 min,"Drama, Fantasy, Horror",NaN,Eric Kripke,"Jared Padalecki, Jensen Ackles, Jim Beaver",English,"United States, Canada",8.4,NaN,NaN,series,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,tt5193172,Dawn of the Croods,2015–2017,TV-Y7,24 Dec 2015,23 min,"Animation, Short, Adventure",NaN,NaN,"Dan Milano, A.J. LoCascio, Laraine Newman",English,United States,6.0,NaN,NaN,series,True
906,tt5762174,Alpha and Omega: Dino Digs,2016,Not Rated,10 May 2016,47 min,"Animation, Adventure, Comedy, Family, Fantasy",Tim Maltby,"Tom Kane, Steve Moore (characters)","Ben Diskin, Kate Higgins, Debi Derryberry, Mar...",English,"USA, Canada, India",3.7,NaN,NaN,movie,True
909,tt3691740,The BFG,2016,PG,01 Jul 2016,117 min,"Adventure, Family, Fantasy",Steven Spielberg,"Melissa Mathison, Roald Dahl","Mark Rylance, Ruby Barnhill, Penelope Wilton","English, Hindi","United States, India, United Kingdom",6.4,74%,66/100,movie,True
910,tt2709768,The Secret Life of Pets,2016,PG,08 Jul 2016,87 min,"Animation, Adventure, Comedy","Chris Renaud, Yarrow Cheney","Cinco Paul, Ken Daurio, Brian Lynch","Louis C.K., Eric Stonestreet, Kevin Hart",English,"United States, France, Japan",6.5,72%,61/100,movie,True
913,tt6332994,Growing Up Wild,2016,G,08 Dec 2016,78 min,Documentary,"Mark Linfield, Keith Scholey","David Fowler, Simon Nash",Daveed Diggs,English,United States,7.2,NaN,NaN,movie,True

In [16]:
id_list = movies_db['IMDB_id'].tolist()
id_list

['tt0381707',
 'tt0425210',
 'tt0413573',
 'tt0455275',
 'tt0460649',
 'tt0460681',
 'tt0903747',
 'tt1405406',
 'tt1520211',
 'tt1578873',
 'tt1843230',
 'tt1475582',
 'tt1241317',
 'tt0409591',
 'tt1703148',
 'tt6925620',
 'tt2193021',
 'tt2085059',
 'tt2632424',
 'tt2661044',
 'tt13056038',
 'tt2707408',
 'tt3107288',
 'tt0216199',
 'tt0117571',
 'tt4769836',
 'tt1734135',
 'tt0106881',
 'tt4034452',
 'tt5580540',
 'tt4129870',
 'tt5706996',
 'tt1837492',
 'tt2582576',
 'tt6959668',
 'tt5893332',
 'tt0126805',
 'tt6289070',
 'tt10207090',
 'tt1225901',
 'tt0397442',
 'tt1266020',
 'tt1327801',
 'tt0182576',
 'tt0452046',
 'tt0108778',
 'tt1179817',
 'tt0368530',
 'tt1826940',
 'tt1844624',
 'tt2372162',
 'tt2188671',
 'tt3609352',
 'tt3205802',
 'tt4592410',
 'tt3774694',
 'tt4635282',
 'tt4574334',
 'tt6495756',
 'tt2948356',
 'tt4191580',
 'tt2277860',
 'tt1700841',
 'tt2788732',
 'tt4669186',
 'tt5155780',
 'tt5097050',
 'tt5993744',
 'tt5505722',
 'tt0362270',
 'tt0330251',
 'tt0496424',
 'tt0804503',
 'tt0472954',
 'tt0904208',
 'tt1780441',
 'tt1819509',
 'tt1632708',
 'tt2022170',
 'tt2543312',
 'tt2486678',
 'tt4295140',
 'tt4677934',
 'tt3032476',
 'tt3526078',
 'tt4051832',
 'tt4973548',
 'tt4635276',
 'tt5672036',
 'tt6333098',
 'tt4452688',
 'tt4384086',
 'tt4094300',
 'tt5562056',
 'tt5595688',
 'tt3810760',
 'tt6333104',
 'tt3155328',
 'tt2195324',
 'tt6616074',
 'tt6736782',
 'tt6963504',
 'tt4686862',
 'tt0250274',
 'tt0840196',
 'tt1195935',
 'tt0105929',
 'tt1615919',
 'tt1749004',
 'tt2022713',
 'tt3398228',
 'tt3339966',
 'tt0445935',
 'tt3566726',
 'tt3850214',
 'tt4307902',
 'tt3273434',
 'tt5467814',
 'tt4302938',
 'tt5347148',
 'tt6038584',
 'tt4341582',
 'tt5030402',
 'tt4144332',
 'tt4007248',
 'tt3159818',
 'tt4971144',
 'tt4027504',
 'tt5580516',
 'tt0065198',
 'tt6283780',
 'tt0479500',
 'tt1190689',
 'tt1280822',
 'tt0238784',
 'tt0098067',
 'tt1442109',
 'tt2056366',
 'tt2177489',
 'tt1294970',
 'tt2431438',
 'tt2817246',
 'tt3986390',
 'tt1226766',
 'tt4254242',
 'tt5339440',
 'tt2081374',
 'tt4269746',
 'tt4991512',
 'tt0139615',
 'tt0120484',
 'tt0147800',
 'tt0077631',
 'tt0251127',
 'tt0437863',
 'tt0462590',
 'tt0810900',
 'tt1099212',
 'tt0327597',
 'tt1114677',
 'tt0390022',
 'tt1579247',
 'tt1679235',
 'tt0165598',
 'tt1094229',
 'tt1758772',
 'tt1832979',
 'tt1702439',
 'tt2477230',
 'tt2710394',
 'tt3986586',
 'tt5435008',
 'tt0209475',
 'tt0221027',
 'tt0475293',
 'tt0460627',
 'tt1197624',
 'tt0364845',
 'tt0859592',
 'tt0972412',
 'tt1837642',
 'tt1837576',
 'tt1915581',
 'tt2083383',
 'tt2224026',
 'tt3231286',
 'tt0411008',
 'tt0439100',
 'tt0758790',
 'tt1235099',
 'tt0158552',
 'tt1358522',
 'tt1856010',
 'tt1637727',
 'tt1758610',
 'tt2741602',
 'tt2262532',
 'tt2288064',
 'tt2365946',
 'tt3300542',
 'tt3520702',
 'tt2955402',
 'tt4786824',
 'tt3467380',
 'tt3230780',
 'tt2980554',
 'tt4428122',
 'tt5089786',
 'tt0773262',
 'tt1103987',
 'tt0810788',
 'tt1474684',
 'tt1600194',
 'tt0116830',
 'tt1839578',
 'tt1821681',
 'tt1590961',
 'tt2071645',
 'tt1688779',
 'tt1836037',
 'tt2183641',
 'tt0460791',
 'tt1888075',
 'tt6243582',
 'tt2427220',
 'tt1885102',
 'tt3749900',
 'tt3551796',
 'tt5221584',
 'tt3729898',
 'tt0120036',
 'tt1219289',
 'tt5651844',
 'tt2375720',
 'tt0824779',
 'tt0200276',
 'tt1595859',
 'tt0247882',
 'tt2183404',
 'tt3488298',
 'tt3501074',
 'tt0107688',
 'tt0267913',
 'tt0371606',
 'tt1291150',
 'tt0458290',
 'tt0108526',
 'tt1286650',
 'tt1142473',
 'tt2108482',
 'tt3725800',
 'tt0852863',
 'tt0398417',
 'tt0974015',
 'tt6025022',
 'tt0106064',
 'tt1641384',
 'tt0096707',
 'tt0115319',
 'tt2080922',
 'tt1659175',
 'tt1832789',
 'tt2139371',
 'tt3322904',
 'tt1472584',
 'tt2788526',
 'tt3692064',
 'tt3807022',
 'tt5462936',
 'tt5272052',
 'tt4458404',
 'tt1396212',
 'tt4189294',
 'tt3521854',
 'tt3161448',
 'tt3040964',
 'tt6095472',
 'tt2709768',
 'tt3562366',
 'tt1985949',
 'tt4648640',
 'tt5127574',
 'tt0208185',
 'tt0129167',
 'tt1699440',
 'tt0262151',
 'tt0127388',
 'tt6963796',
 'tt13117332',
 'tt1051904',
 'tt2999390',
 'tt2392179',
 'tt0371746',
 'tt4962796',
 'tt1307510',
 'tt3807034',
 'tt3441810',
 'tt6035850',
 'tt3604232',
 'tt4763642',
 'tt5075942',
 'tt5580664',
 'tt6591468',
 'tt0075925',
 'tt5916218',
 'tt6332994',
 'tt0110366',
 'tt0119137',
 'tt0120855',
 'tt0120917',
 'tt0275847',
 'tt0331632',
 'tt1509767',
 'tt0424279',
 'tt0395699',
 'tt0389790',
 'tt0441773',
 'tt1105469',
 'tt1865769',
 'tt1991564',
 'tt0487849',
 'tt1710177',
 'tt4816058',
 'tt3040470',
 'tt0756522',
 'tt2510894',
 'tt5193172',
 'tt2267968',
 'tt5759196',
 'tt4938374',
 'tt4431254',
 'tt2567026',
 'tt5846856',
 'tt7335104',
 'tt11460334',
 'tt3270208',
 'tt0120587',
 'tt0120630',
 'tt0338459',
 'tt0083564',
 'tt6950338',
 'tt2224075',
 'tt0108847',
 'tt2136138',
 'tt2644032',
 'tt1109624',
 'tt0393421',
 'tt1236429',
 'tt2293640',
 'tt0071762',
 'tt5235950',
 'tt0106611',
 'tt0107131',
 'tt0118617',
 'tt0381971',
 'tt1217213',
 'tt0233041',
 'tt6181728',
 'tt4591680',
 'tt3691740',
 'tt1914371',
 'tt0120595',
 'tt0120794',
 'tt0125454',
 'tt0138749',
 'tt0120910',
 'tt0032455',
 'tt0090633',
 'tt0119918',
 'tt0129924',
 'tt0112453',
 'tt0233277',
 'tt0147926',
 'tt0163986',
 'tt0197230',
 'tt0101329',
 'tt0084237',
 'tt0465925',
 'tt0465997',
 'tt0099878',
 'tt1461418',
 'tt2542490',
 'tt0263317',
 'tt0105941',
 'tt6959614',
 'tt2483260',
 'tt3468298',
 'tt2699588',
 'tt3246908',
 'tt5762174',
 'tt3723780',
 'tt11217094',
 'tt3700456',
 'tt0104254',
 'tt0306841',
 'tt0382937',
 'tt6964236',
 'tt0498351',
 'tt0186311',
 'tt1172587',
 'tt0090503',
 'tt2289057',
 'tt2216314',
 'tt0377156',
 'tt1524993',
 'tt2066048',
 'tt6764142',
 'tt1756873',
 'tt3590338',
 'tt6953914',
 'tt6850902',
 'tt2400433',
 'tt6101862',
 'tt0093148',
 'tt5697572',
 'tt0230011',
 'tt0344864',
 'tt0384696',
 'tt0407121',
 'tt0401398',
 'tt0121164',
 'tt6964450',
 'tt2123342',
 'tt5026458',
 'tt0119718',
 'tt0109190',
 'tt0109287',
 'tt0110006',
 'tt0301454',
 'tt0337812',
 'tt0109520',
 'tt0097523',
 'tt0470982',
 'tt1024724',
 'tt1381767',
 'tt0491603',
 'tt1564349',
 'tt2566580',
 'tt2203143',
 'tt4257950',
 'tt3462880',
 'tt5449296',
 'tt6500946',
 'tt6780296',
 'tt0115082',
 'tt0313202',
 'tt0264366',
 'tt0200323',
 'tt0402619',
 'tt0072472',
 'tt5539000',
 'tt1595680',
 'tt0078569',
 'tt11213708',
 'tt2751074',
 'tt0118268',
 'tt0138956',
 'tt0262150',
 'tt0844666',
 'tt3887992',
 'tt1411664',
 'tt0111899',
 'tt13399556',
 'tt0412536',
 'tt0765010',
 'tt0956036',
 'tt4594334',
 'tt0109376',
 'tt0938567',
 'tt0198079',
 'tt0861748',
 'tt4298268',
 'tt13071248',
 'tt0160127',
 'tt0283994',
 'tt3147692',
 'tt0056937',
 'tt2198439',
 'tt2301501',
 'tt4831310',
 'tt7350428',
 'tt1349084',
 'tt0251504',
 'tt8713700',
 'tt0055667',
 'tt3142260',
 'tt2372855',
 'tt0435566',
 'tt2316306',
 'tt0106701',
 'tt4082744',
 'tt0118984',
 'tt0052490',
 'tt0408381',
 'tt6015808',
 'tt3216608',
 'tt0407384',
 'tt0121932',
 'tt0046600',
 'tt0111958',
 'tt1020621',
 'tt0478073',
 'tt0488262',
 'tt2338868',
 'tt4074374',
 'tt10874860',
 'tt0072507',
 'tt0421099',
 'tt0423661',
 'tt0255734',
 'tt0059992',
 'tt0054545',
 'tt2221679',
 'tt0437005',
 'tt7645618',
 'tt5247284',
 'tt0095305',
 'tt0086730',
 'tt2232345',
 'tt0409570',
 'tt1354663',
 'tt0278504',
 'tt0086737',
 'tt0069596',
 'tt0875948',
 'tt0455596',
 'tt0983514',
 'tt2172103',
 'tt1975734',
 'tt6998202',
 'tt0082971',
 'tt0162462',
 'tt0292414',
 'tt0127385',
 'tt1199099',
 'tt10305444',
 'tt0118401',
 'tt0339397',
 'tt1579071',
 'tt6043648',
 'tt1583638',
 'tt0108869',
 'tt0364844',
 'tt0340256',
 'tt0496356',
 'tt0092410',
 'tt0112093',
 'tt0112095',
 'tt0318236',
 'tt1843894',
 'tt8870164',
 'tt3696748',
 'tt6847466',
 'tt1826805',
 'tt0071030',
 'tt0106097',
 'tt0387764',
 'tt14016778',
 'tt2731624',
 'tt0937967',
 'tt4667610',
 'tt0816399',
 'tt3222712',
 'tt0108903',
 'tt13223854',
 'tt7156624',
 'tt8050858',
 'tt4960458',
 'tt0257076',
 'tt0206951',
 'tt2223298',
 'tt0879688',
 'tt6764646',
 'tt1215482',
 'tt0028231',
 'tt0117589',
 'tt1880804',
 'tt1586680',
 'tt2993138',
 'tt0208092',
 'tt4693256',
 'tt0075584',
 'tt0108938',
 'tt8629136',
 'tt0086807',
 'tt5126940',
 'tt0083482',
 'tt0335438',
 'tt5028002',
 'tt6904118',
 'tt0075590',
 'tt8107992',
 'tt0088242',
 'tt8418214',
 'tt0071065',
 'tt10609012',
 'tt4633680',
 'tt1103968',
 'tt5592230',
 'tt0061240',
 'tt0346231',
 'tt0108734',
 'tt0115148',
 'tt0126865',
 'tt0096580',
 'tt1183569',
 'tt0081871',
 'tt3543072',
 'tt0112025',
 'tt0242209',
 'tt6086806',
 'tt0389121',
 'tt0487002',
 'tt0050749',
 'tt7461200',
 'tt0118414',
 'tt2597760',
 'tt0065333',
 'tt0182621',
 'tt13057984',
 'tt0105151',
 'tt0069113',
 'tt0051308',
 'tt0068126',
 'tt2084685',
 'tt0120053',
 'tt3690364',
 'tt0164292',
 'tt0452573',
 'tt1240976',
 'tt0046534',
 'tt0118513',
 'tt0167456',
 'tt1217956',
 'tt0180254',
 'tt0090223',
 'tt0785067',
 'tt0105690',
 'tt1417761',
 'tt1101009',
 'tt1497609',
 'tt11018750',
 'tt7520178',
 'tt1703925',
 'tt5754262',
 'tt6056924',
 'tt6057002',
 'tt4397864',
 'tt12129168',
 'tt0876219',
 'tt0774758',
 'tt0092312',
 'tt2714046',
 'tt11623790',
 'tt0075503',
 'tt0129117',
 'tt6202458',
 'tt0240272',
 'tt0056775',
 'tt0166451',
 'tt9723520',
 'tt0069620',
 'tt0261492',
 'tt0419373',
 'tt0137311',
 'tt0163953',
 'tt0169501',
 'tt0215446',
 'tt7019028',
 'tt0115433',
 'tt0324941',
 'tt0211181',
 'tt1846442',
 'tt0046672',
 'tt0120623',
 'tt12076020',
 'tt0113198',
 'tt0113538',
 'tt0038674',
 'tt0282123',
 'tt0287003',
 'tt1620680',
 'tt6139732',
 'tt0103639',
 'tt0115491',
 'tt0107952',
 'tt0043274',
 'tt1014759',
 'tt0417415',
 'tt0041112',
 'tt0217990',
 'tt0055740',
 'tt0098740',
 'tt0381006',
 'tt4622802',
 'tt0082017',
 'tt5195114',
 'tt0207972',
 'tt9782756',
 'tt0327437',
 'tt6467274',
 'tt8952294',
 'tt1830491',
 'tt0499549',
 'tt0022647',
 'tt0054649',
 'tt0034492',
 'tt0447854',
 'tt8075496',
 'tt10219416',
 'tt0031086',
 'tt0047864',
 'tt0101414',
 'tt0167038',
 'tt0118692',
 'tt0317132',
 'tt0066817',
 'tt0960731',
 'tt0047867',
 'tt5929776',
 'tt0092638',
 'tt4507442',
 'tt0094739',
 'tt7165904',
 'tt2245084',
 'tt6412478',
 'tt1570382',
 'tt0062737',
 'tt7678620',
 'tt0029930',
 'tt0397892',
 'tt0213334',
 'tt0395479',
 'tt0105958',
 'tt2078690',
 'tt1217209',
 'tt7293698',
 'tt0162212',
 'tt0328880',
 'tt0430932',
 'tt8693362',
 'tt1334585',
 'tt0294425',
 'tt0109369',
 'tt1055366',
 'tt1252380',
 'tt0186910',
 'tt0075807',
 'tt0033448',
 'tt0317219',
 'tt1216475',
 'tt3606752',
 'tt1378121',
 'tt1788785',
 'tt1378123',
 'tt3755836',
 'tt2166364',
 'tt1330219',
 'tt1511164',
 'tt3755824',
 'tt0090803',
 'tt0349205',
 'tt0097053',
 'tt0033460',
 'tt0096557',
 'tt0039263',
 'tt0042332',
 'tt0291082',
 'tt0465940',
 'tt0028726',
 'tt2762970',
 'tt2380307',
 'tt0997047',
 'tt0361467',
 'tt6244108',
 'tt8381724',
 'tt0043428',
 'tt0489007',
 'tt2273734',
 'tt1090750',
 'tt0052722',
 'tt0101076',
 'tt0049125',
 'tt0047977',
 'tt1620446',
 'tt7775248',
 'tt0365109',
 'tt5117876',
 'tt8022928',
 'tt0377770',
 'tt7188868',
 'tt9695266',
 'tt1196141',
 'tt0130623',
 'tt4456850',
 'tt8050740',
 'tt1614950',
 'tt3856042',
 'tt5515212',
 'tt4800624',
 'tt1376699',
 'tt3440298',
 'tt4951098',
 'tt3602560',
 'tt11199552',
 'tt2229129',
 'tt8115666',
 'tt2326087',
 'tt1865718',
 'tt2996052',
 'tt11998854',
 'tt1833403',
 'tt1044418',
 'tt9277788',
 'tt3598030',
 'tt5118450',
 'tt8611524',
 'tt0784896',
 'tt5439480',
 'tt3008594',
 'tt3067144',
 'tt2341339',
 'tt6311972',
 'tt2758770',
 'tt4488724',
 'tt8959856',
 'tt1887491',
 'tt3793630',
 'tt8884364',
 'tt7010622',
 'tt0088528',
 'tt0122815',
 'tt0092345',
 'tt7642482',
 'tt0138967',
 'tt0278866',
 'tt0115269',
 'tt0126170',
 'tt0465327',
 'tt0219854',
 'tt0103477',
 'tt0923160',
 'tt1223236',
 'tt2458776',
 'tt4629266',
 'tt1222815',
 'tt0902967',
 'tt3660770',
 'tt8080302',
 'tt1222816',
 'tt12100080',
 'tt1710295',
 'tt0118998',
 'tt0240462',
 'tt0423642',
 'tt10981266',
 'tt10055028',
 'tt0045696',
 'tt0208101',
 'tt0032401',
 'tt0030069',
 'tt0035820',
 'tt0038489',
 'tt0281905',
 'tt0187819',
 'tt3593456',
 'tt11151654',
 'tt0046932',
 'tt7823038',
 'tt4266692',
 'tt3738576',
 'tt6141006',
 'tt8676618',
 'tt7964284',
 'tt4743564',
 'tt5531466',
 'tt0099472',
 'tt1537759',
 'tt3861390',
 'tt7008868',
 'tt1455430',
 'tt0365149',
 'tt0397313',
 'tt4549142',
 'tt12036052',
 'tt0027569',
 'tt0058056',
 'tt0416716',
 'tt7759016',
 'tt0072951',
 'tt0206511',
 'tt10719984',
 'tt6279452',
 'tt6974848',
 'tt0187635',
 'tt0830298',
 'tt0030128',
 'tt0266543',
 'tt0116311',
 'tt1725902',
 'tt0091059',
 'tt9536846',
 'tt0022899',
 'tt0248808',
 'tt11194650',
 'tt11194652',
 'tt0113104',
 'tt1142977',
 'tt0087291',
 'tt0076054',
 'tt0322330',
 'tt7631348',
 'tt7775622',
 'tt1865368',
 'tt2294629',
 'tt4520988',
 'tt0382142',
 'tt0039404',
 'tt0286639',
 'tt0436339',
 'tt0108783',
 'tt1835977',
 'tt0193187',
 'tt0119190',
 'tt0322389',
 'tt0131409',
 'tt0282521',
 'tt2543796',
 'tt0385726',
 'tt0447987',
 'tt0399104',
 'tt1415889',
 'tt1828976',
 'tt0103428',
 'tt9165706',
 'tt0299943',
 'tt0025200',
 'tt1769803',
 'tt0054944',
 'tt0074599',
 'tt0067172',
 'tt0173886',
 'tt0414078',
 'tt0274761',
 'tt0451460',
 'tt0493093',
 'tt1127884',
 'tt1222818',
 'tt0028981',
 'tt2746314',
 'tt0080861',
 'tt0076137',
 'tt0071607',
 'tt0400497',
 'tt0119282',
 'tt0962726',
 'tt8510382',
 'tt11448424',
 'tt0107120',
 'tt0311289',
 'tt0119303',
 'tt0299172',
 'tt0116552',
 'tt0104437',
 'tt0119310',
 'tt0219813',
 'tt8390274',
 'tt0274557',
 'tt5648768',
 'tt3098874',
 'tt0034873',
 'tt0034874',
 'tt0036933',
 'tt0034875',
 'tt2455514',
 'tt0155753',
 'tt0268380',
 'tt5480340',
 'tt0396652',
 'tt1101237',
 'tt12100044',
 'tt4664808',
 'tt2096673',
 'tt0141369',
 'tt9822474',
 'tt7573844',
 'tt0445990',
 'tt4420110',
 'tt0115218',
 'tt0837143',
 'tt0110157',
 'tt0116669',
 'tt0455565',
 'tt0116683',
 'tt7207238',
 'tt2278028',
 'tt0401729',
 'tt0942378',
 'tt0206064',
 'tt1229827',
 ...]

In [17]:
len(id_list)

1517

In [ ]:
net = []
disp = []
crac = []



for mov_id in id_list:
    if netflix_df.loc[netflix_df['IMDB_id'] == mov_id]: