In [2]:
import requests
import json
import pandas as pd
from config import api_key
from pprint import pprint

In [3]:
file = "Resources/disney_plus_shows.csv"

df = pd.read_csv(file)
df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [4]:
# Dropping entire rows if NA value is there in imdb_id column

disney_movies = df.dropna(axis=0, subset=['imdb_id']).reset_index()
disney_movies.head()

,index,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [5]:
# Converting imdb_id column into list
imdb_list = disney_movies['imdb_id'].tolist()
imdb_list

['tt0147800',
 'tt7019028',
 'tt0115433',
 'tt0324941',
 'tt0211181',
 'tt1846442',
 'tt0046672',
 'tt0120623',
 'tt12076020',
 'tt0113198',
 'tt0113538',
 'tt0038674',
 'tt0282123',
 'tt0287003',
 'tt1620680',
 'tt6139732',
 'tt0103639',
 'tt0115491',
 'tt0107952',
 'tt0043274',
 'tt1014759',
 'tt0417415',
 'tt0041112',
 'tt0217990',
 'tt0055740',
 'tt0098740',
 'tt0381006',
 'tt4622802',
 'tt0082017',
 'tt0208185',
 'tt5195114',
 'tt0207972',
 'tt9782756',
 'tt0327437',
 'tt6467274',
 'tt0344864',
 'tt0230011',
 'tt8952294',
 'tt1830491',
 'tt0499549',
 'tt0022647',
 'tt0054649',
 'tt0034492',
 'tt0447854',
 'tt8075496',
 'tt10219416',
 'tt0031086',
 'tt0047864',
 'tt0101414',
 'tt0167038',
 'tt0118692',
 'tt0317132',
 'tt0066817',
 'tt0960731',
 'tt0047867',
 'tt5929776',
 'tt0092638',
 'tt4507442',
 'tt0094739',
 'tt7165904',
 'tt2245084',
 'tt6412478',
 'tt1570382',
 'tt0062737',
 'tt0109287',
 'tt7678620',
 'tt0029930',
 'tt0397892',
 'tt0213334',
 'tt0395479',
 'tt0105958',
 'tt2078690',
 'tt1217209',
 'tt0163986',
 'tt7293698',
 'tt0162212',
 'tt0328880',
 'tt0465925',
 'tt0430932',
 'tt8693362',
 'tt1334585',
 'tt0294425',
 'tt0109369',
 'tt1055366',
 'tt1252380',
 'tt0186910',
 'tt0075807',
 'tt0033448',
 'tt0317219',
 'tt1216475',
 'tt3606752',
 'tt1378121',
 'tt1788785',
 'tt1378123',
 'tt3755836',
 'tt2166364',
 'tt1330219',
 'tt1511164',
 'tt3755824',
 'tt0090803',
 'tt0349205',
 'tt0097053',
 'tt0033460',
 'tt0371606',
 'tt0096557',
 'tt0039263',
 'tt0042332',
 'tt0291082',
 'tt0465940',
 'tt0028726',
 'tt2762970',
 'tt2380307',
 'tt0997047',
 'tt0361467',
 'tt6244108',
 'tt0106611',
 'tt8381724',
 'tt0043428',
 'tt0489007',
 'tt2273734',
 'tt1090750',
 'tt0052722',
 'tt0101076',
 'tt0049125',
 'tt0047977',
 'tt1620446',
 'tt7775248',
 'tt0365109',
 'tt5117876',
 'tt8022928',
 'tt0377770',
 'tt7188868',
 'tt9695266',
 'tt1196141',
 'tt0130623',
 'tt4456850',
 'tt8050740',
 'tt1614950',
 'tt3856042',
 'tt5515212',
 'tt4800624',
 'tt1376699',
 'tt3440298',
 'tt4951098',
 'tt3602560',
 'tt11199552',
 'tt2229129',
 'tt8115666',
 'tt2326087',
 'tt1865718',
 'tt2996052',
 'tt11998854',
 'tt1833403',
 'tt1044418',
 'tt9277788',
 'tt3598030',
 'tt5118450',
 'tt8611524',
 'tt0784896',
 'tt5439480',
 'tt3008594',
 'tt3067144',
 'tt2341339',
 'tt6311972',
 'tt2758770',
 'tt4488724',
 'tt8959856',
 'tt1887491',
 'tt3793630',
 'tt8884364',
 'tt7010622',
 'tt0088528',
 'tt0122815',
 'tt0092345',
 'tt7642482',
 'tt0138967',
 'tt0278866',
 'tt0756522',
 'tt0115269',
 'tt0126170',
 'tt0465327',
 'tt0219854',
 'tt0103477',
 'tt0923160',
 'tt1223236',
 'tt2458776',
 'tt4629266',
 'tt1222815',
 'tt0902967',
 'tt3660770',
 'tt8080302',
 'tt1222816',
 'tt12100080',
 'tt1710295',
 'tt0118998',
 'tt0240462',
 'tt0423642',
 'tt10981266',
 'tt10055028',
 'tt0045696',
 'tt0208101',
 'tt0032401',
 'tt0030069',
 'tt0035820',
 'tt0038489',
 'tt0281905',
 'tt0187819',
 'tt3593456',
 'tt11151654',
 'tt0046932',
 'tt7823038',
 'tt4266692',
 'tt3738576',
 'tt6141006',
 'tt8676618',
 'tt7964284',
 'tt4743564',
 'tt5531466',
 'tt0099472',
 'tt1537759',
 'tt3861390',
 'tt7008868',
 'tt1455430',
 'tt0365149',
 'tt0397313',
 'tt4549142',
 'tt12036052',
 'tt0027569',
 'tt0058056',
 'tt0416716',
 'tt7759016',
 'tt0072951',
 'tt0206511',
 'tt10719984',
 'tt6279452',
 'tt6974848',
 'tt0032455',
 'tt0120910',
 'tt0187635',
 'tt0830298',
 'tt0030128',
 'tt2277860',
 'tt0266543',
 'tt0116311',
 'tt1725902',
 'tt0091059',
 'tt9536846',
 'tt0022899',
 'tt0119137',
 'tt0248808',
 'tt11194650',
 'tt11194652',
 'tt0113104',
 'tt1142977',
 'tt0087291',
 'tt0076054',
 'tt0322330',
 'tt7631348',
 'tt7775622',
 'tt1865368',
 'tt2294629',
 'tt4520988',
 'tt0382142',
 'tt0039404',
 'tt0286639',
 'tt0436339',
 'tt0108783',
 'tt1835977',
 'tt0193187',
 'tt0119190',
 'tt0322389',
 'tt0131409',
 'tt0282521',
 'tt2543796',
 'tt0385726',
 'tt0447987',
 'tt0399104',
 'tt1415889',
 'tt1828976',
 'tt0103428',
 'tt9165706',
 'tt0299943',
 'tt0025200',
 'tt1769803',
 'tt0054944',
 'tt0074599',
 'tt0067172',
 'tt0173886',
 'tt0414078',
 'tt0274761',
 'tt0451460',
 'tt0493093',
 'tt1127884',
 'tt1114677',
 'tt1222818',
 'tt0028981',
 'tt0110006',
 'tt2746314',
 'tt0080861',
 'tt0076137',
 'tt0071607',
 'tt0400497',
 'tt0119282',
 'tt0475293',
 'tt0810900',
 'tt0962726',
 'tt8510382',
 'tt11448424',
 'tt0107120',
 'tt0311289',
 'tt0119303',
 'tt0299172',
 'tt0116552',
 'tt0107131',
 'tt0104437',
 'tt0097523',
 'tt0119310',
 'tt0219813',
 'tt8390274',
 'tt0274557',
 'tt5648768',
 'tt3098874',
 'tt0034873',
 'tt0034874',
 'tt0036933',
 'tt0034875',
 'tt2455514',
 'tt0155753',
 'tt0268380',
 'tt5480340',
 'tt0396652',
 'tt1101237',
 'tt12100044',
 'tt4664808',
 'tt2096673',
 'tt0141369',
 'tt0301454',
 'tt9822474',
 'tt7573844',
 'tt0445990',
 'tt4420110',
 'tt0115218',
 'tt0837143',
 'tt0110157',
 'tt0116669',
 'tt0455565',
 'tt0116683',
 'tt7207238',
 'tt1865769',
 'tt2278028',
 'tt0401729',
 'tt0942378',
 'tt0206064',
 'tt1229827',
 'tt1647936',
 'tt0052948',
 'tt0805559',
 'tt0271172',
 'tt0119432',
 'tt0053977',
 'tt0068789',
 'tt0116756',
 'tt1765622',
 'tt7979492',
 'tt0446724',
 'tt1403075',
 'tt10704300',
 'tt9536832',
 'tt0401398',
 'tt1957945',
 'tt1991564',
 'tt8096832',
 'tt0048280',
 'tt0249677',
 'tt0044821',
 'tt10167262',
 'tt6110430',
 'tt9297164',
 'tt4855868',
 'tt8352934',
 'tt5459566',
 'tt4283838',
 'tt3978590',
 'tt3688956',
 'tt3014650',
 'tt1648204',
 'tt0033824',
 'tt0486761',
 'tt2165933',
 'tt0044835',
 'tt2964642',
 'tt0450455',
 'tt0107413',
 'tt3920782',
 'tt0945571',
 'tt0275847',
 'tt0364774',
 'tt0457993',
 'tt0273366',
 'tt0029161',
 'tt9536836',
 'tt10366494',
 'tt10276578',
 'tt6267732',
 'tt0274636',
 'tt11898442',
 'tt0029188',
 'tt7974952',
 'tt1305591',
 'tt9269852',
 'tt4128102',
 'tt0112175',
 'tt0115215',
 'tt0103584',
 'tt10863978',
 'tt9073748',
 'tt9073746',
 'tt9073722',
 'tt11113964',
 'tt11483514',
 'tt7728344',
 'tt3591568',
 'tt0478970',
 'tt2395427',
 'tt4154796',
 'tt1825683',
 'tt3498820',
 'tt0458339',
 'tt1843866',
 'tt4154664',
 'tt1211837',
 'tt2015381',
 'tt3896198',
 'tt0371746',
 'tt1228705',
 'tt1300854',
 'tt0848228',
 'tt0800369',
 'tt3501632',
 'tt1981115',
 'tt7726152',
 'tt1722512',
 'tt3475734',
 'tt7249258',
 'tt2455546',
 'tt6591446',
 'tt4176370',
 'tt10163846',
 'tt4154858',
 'tt3221698',
 'tt6603254',
 'tt1236246',
 'tt6135682',
 'tt0058331',
 'tt0901686',
 'tt0120645',
 'tt0396555',
 'tt0040580',
 'tt2768802',
 'tt0047757',
 'tt6264782',
 'tt0371823',
 'tt0035064',
 'tt0085936',
 'tt0238414',
 'tt0027964',
 'tt0030448',
 'tt0424279',
 'tt0120751',
 'tt0323250',
 'tt3098856',
 'tt0366777',
 'tt1072755',
 'tt0349825',
 'tt0157996',
 'tt0218440',
 'tt3067436',
 'tt0039628',
 'tt9165688',
 'tt3521164',
 'tt0250593',
 'tt1453405',
 'tt0198781',
 'tt0273842',
 'tt0091566',
 'tt0032814',
 'tt0032815',
 'tt0120762',
 'tt0279967',
 'tt6337766',
 'tt4555736',
 'tt0117110',
 'tt2281587',
 'tt0064705',
 'tt0120764',
 'tt0805905',
 'tt0368891',
 'tt0465234',
 'tt0043839',
 'tt0104990',
 'tt6346162',
 'tt5097410',
 'tt0426568',
 'tt5452780',
 'tt0976238',
 'tt0050798',
 'tt0095776',
 'tt0026816',
 'tt0426148',
 'tt10854760',
 'tt0055254',
 'tt0089731',
 'tt0479113',
 'tt7651892',
 'tt7146812',
 'tt0114048',
 'tt6091694',
 'tt0043890',
 'tt0277514',
 'tt10583412',
 'tt9236264',
 'tt1425244',
 'tt3116154',
 'tt12080904',
 'tt0050837',
 'tt0076538',
 'tt2788732',
 'tt0046183',
 'tt0280030',
 'tt0266850',
 'tt0340281',
 'tt0852863',
 'tt1825918',
 'tt2283584',
 'tt10855726',
 'tt0323642',
 'tt0032910',
 'tt5613056',
 'tt0449088',
 'tt0383574',
 'tt1298650',
 'tt0325980',
 'tt11199558',
 'tt0393596',
 'tt4148744',
 'tt0045037',
 'tt0045038',
 'tt0040698',
 'tt0114148',
 'tt0143808',
 'tt0054195',
 'tt0119918',
 'tt0407121',
 'tt1245104',
 'tt5538644',
 'tt1196339',
 'tt1604171',
 'tt0280050',
 'tt6688750',
 'tt8980868',
 'tt0136658',
 'tt4341582',
 'tt0245380',
 'tt0382932',
 'tt0494716',
 'tt0253550',
 'tt0382936',
 'tt0265632',
 'tt0382937',
 'tt0485985',
 'tt0093832',
 'tt0210945',
 'tt0078158',
 'tt0816520',
 'tt0089908',
 'tt0155110',
 'tt0323810',
 'tt0244764',
 'tt0070608',
 'tt8053430',
 'tt3748528',
 'tt0107985',
 'tt0436595',
 'tt0138068',
 'tt3816666',
 'tt0353965',
 'tt0036326',
 'tt0056441',
 'tt4661600',
 'tt2414212',
 'tt0023422',
 'tt2140373',
 'tt7153434',
 'tt6390686',
 'tt0031905',
 'tt1217213',
 'tt1028576',
 'tt7848136',
 'tt0049733',
 'tt8780664',
 'tt8879238',
 'tt1661326',
 'tt7217020',
 'tt1629440',
 'tt2769458',
 'tt0099816',
 'tt10225108',
 'tt0203268',
 'tt0462538',
 'tt0105417',
 'tt0108147',
 'tt1479534',
 'tt0053285',
 'tt0118466',
 'tt0192618',
 'tt7103168',
 'tt0281373',
 'tt0029583',
 'tt0069291',
 'tt1068284',
 'tt0169247',
 'tt0031945',
 'tt1252374',
 'tt5189554',
 'tt0081938',
 'tt0083481',
 'tt0207120',
 'tt0197911',
 'tt0088161',
 'tt6779076',
 'tt2930604',
 'tt8336340',
 'tt0076759',
 'tt0121765',
 'tt11281500',
 'tt0086190',
 'tt0121766',
 'tt0458290',
 'tt1185834',
 'tt0080684',
 'tt2488496',
 'tt2527336',
 'tt0120915',
 'tt4858674',
 'tt1579247',
 'tt0019422',
 'tt0250754',
 'tt0348124',
 'tt1245537',
 'tt0410696',
 'tt0166829',
 'tt2999390',
 'tt1368151',
 'tt4199038',
 'tt0033124',
 'tt0054357',
 'tt0098924',
 'tt0111359',
 'tt0398286',
 'tt5533228',
 'tt4902964',
 'tt0313680',
 'tt0350194',
 'tt0257325',
 'tt3764966',
 'tt2325989',
 'tt1845866',
 'tt0120317',
 'tt0059793',
 'tt0300865',
 'tt0054594',
 'tt0061333',
 'tt0106223',
 'tt0041094',
 'tt0047775',
 'tt0047803',
 'tt0072653',
 'tt0078790',
 'tt0065421',
 'tt0033356',
 'tt1626038',
 'tt0203247',
 'tt0026094',
 'tt0071199',
 'tt3691740',
 'tt0024886',
 'tt0068276',
 'tt0088814',
 'tt0078869',
 'tt2616880',
 'tt0274240',
 'tt0072728',
 'tt0147926',
 'tt0071288',
 'tt0077305',
 'tt0338852',
 'tt0800318',
 'tt1013542',
 'tt0090840',
 'tt0499448',
 'tt0363771',
 'tt0213565',
 'tt0065566',
 'tt0276033',
 'tt0120917',
 'tt0327698',
 'tt2025690',
 'tt9154632',
 'tt0082406',
 'tt0465997',
 'tt0492956',
 'tt0080788',
 'tt0025184',
 'tt0026423',
 'tt1979388',
 'tt0091149',
 'tt0082474',
 'tt0388980',
 'tt0338094',
 'tt0031431',
 'tt0116583',
 'tt0257778',
 'tt9331982',
 'tt2136396',
 'tt6001956',
 'tt0057180',
 'tt0317705',
 'tt0089385',
 'tt0061852',
 'tt0283426',
 'tt0144262',
 'tt1294226',
 'tt2565938',
 'tt6105098',
 'tt0318403',
 'tt0120131',
 'tt0110357',
 'tt0097757',
 'tt0240684',
 'tt0969647',
 'tt0046008',
 'tt0306841',
 'tt6176812',
 'tt10290670',
 'tt0064603',
 'tt8111088',
 'tt0076363',
 'tt0066728',
 'tt2490352',
 'tt0104940',
 'tt0079588',
 'tt1204342',
 'tt4651824',
 'tt0165052',
 'tt0046125',
 'tt1462769',
 'tt0029339',
 'tt0035148',
 'tt0219222',
 'tt0246834',
 'tt0055277',
 'tt0120783',
 'tt0024451',
 'tt0561332',
 'tt0274728',
 'tt1836776',
 'tt0100409',
 'tt0780521',
 'tt0093779',
 'tt0247638',
 'tt0368933',
 'tt0293737',
 'tt0448090',
 'tt0034091',
 'tt0816401',
 'tt0076618',
 'tt0100477',
 'tt0102803',
 'tt0265662',
 'tt0817307',
 'tt0111070',
 'tt0304669',
 'tt0452681',
 'tt0313634',
 'tt0496386',
 'tt0075200',
 'tt0053271',
 'tt0054307',
 'tt0096697',
 'tt0078281',
 'tt0059742',
 'tt0045197',
 'tt0166896',
 'tt0073760',
 'tt1754799',
 'tt0426371',
 'tt1181917',
 'tt1388589',
 'tt5653444',
 'tt0057546',
 'tt0200208',
 'tt0038166',
 'tt0108333',
 'tt0220099',
 'tt0027126',
 'tt0061135',
 'tt0032071',
 'tt0256466',
 'tt0047642',
 'tt0405469',
 'tt0025997',
 'tt2448374',
 'tt6897772',
 'tt10196390',
 'tt0318850',
 'tt0059796',
 'tt0301935',
 'tt0024660',
 'tt0094137',
 'tt0098966',
 'tt0111419',
 'tt0397113',
 'tt0107688',
 'tt6820324',
 'tt0112197',
 'tt0096273',
 'tt0823671',
 'tt1216515',
 'tt1216516',
 'tt7620568',
 'tt0028390',
 'tt5116302',
 'tt0112302',
 'tt0114709',
 'tt0120363',
 'tt0435761',
 'tt1979376',
 'tt1850374',
 'tt2033372',
 'tt1247700',
 'tt0043063',
 'tt0043067',
 'tt0075347',
 'tt0133240',
 'tt0084827',
 'tt1812523',
 'tt1104001',
 'tt0296251',
 'tt0283084',
 'tt0033188',
 'tt0098536',
 'tt8174114',
 'tt0282223',
 'tt0467421',
 'tt1017465',
 'tt0080062',
 'tt2181679',
 'tt1049413',
 'tt0211174',
 'tt0361089',
 'tt10538348',
 'tt2171665',
 'tt1159961',
 'tt0910970',
 'tt0045314',
 'tt0790781',
 'tt0185007',
 'tt0103247',
 'tt0096438',
 'tt2191567',
 'tt0096446',
 'tt9536850',
 'tt2543062',
 'tt1449283',
 'tt0324572',
 'tt0384696',
 'tt0042047',
 'tt0799922',
 'tt1369845',
 'tt0772145',
 'tt6959706',
 'tt1772341',
 'tt0247827',
 'tt6945708',
 'tt0206446',
 'tt0153992',
 'tt0329783',
 'tt1134859',
 'tt6878820',
 'tt3544734',
 'tt0186726',
 'tt0271271',
 'tt0379060',
 'tt2948356']

In [6]:
# Count of imdb id list
len(imdb_list)

894

In [ ]:
# Function to extract ratings for Rotten Tomatoes and Metacritic from Json response
def get_rating(ratings, site):
    for dic in ratings:
        if dic["Source"] == site:
            return dic["Value"]

In [ ]:
# Defining list
imdb_id = []
title = []
year = []
rated = []
released = []
runtime = []
genre = []
director = []
writer = []
actors = []
language = []
country = []
imdb_ratings = []
rt_ratings = []
metacritic_ratings = []
types = []

# For loop to iterate through each IMDB ID and parsing required data from JSON response
for ids in imdb_list:
    query_url = f"http://www.omdbapi.com/?apikey={api_key}&i={ids}"
    
    try:
        response = requests.get(query_url).json()
        
        imdb_id.append(response['imdbID'])
        title.append(response['Title'])
        year.append(response['Year'])
        rated.append(response['Rated'])
        released.append(response['Released'])
        runtime.append(response['Runtime'])
        genre.append(response['Genre'])
        director.append(response['Director'])
        writer.append(response['Writer'])
        actors.append(response['Actors'])
        language.append(response['Language'])
        country.append(response['Country'])
        imdb_ratings.append(response['imdbRating'])
        rt_ratings.append(get_rating(response['Ratings'], "Rotten Tomatoes"))
        metacritic_ratings.append(get_rating(response['Ratings'], "Metacritic"))
        types.append(response['Type'])
        
        print(f"Response recorded for movie with id {ids}")
        print("------------------------------")
    
    except KeyError:
        print(f"Movie with id {ids} was not found")
        print("------------------------------")
        pass

In [ ]:
# Defining dictionary to store JSON response 
disneyplus_db = pd.DataFrame({"IMDb ID": imdb_id, 
                              "Title": title, 
                              "Year": year,
                              "Rated": rated,
                              "Released": released,
                              "Runtime": runtime,
                              "Genre": genre,
                              "Director": director,
                              "Writer": writer,
                              "Actors": actors,
                              "Language": language,
                              "Country": country,
                              "IMDb Ratings": imdb_ratings,
                              "RT Ratings": rt_ratings, 
                              "Metacritic Ratings": metacritic_ratings, 
                              "Type": types})
disneyplus_db

In [ ]:
#Create Database connection
connection_string = "postgres:postgres@localhost:5432/crackle_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.disney_table()

In [ ]:
#confirm data has been added by quering the table
pd.read_sql_query('select * from disney_table', con=engine).head()